@{
    ViewData["Title"] = "Home Page";
}

<div class="pt-3" style="border-radius: 30px; background-image: url(homepage_background.jpg); background-color: rgba(255,255,255,0.6);  background-blend-mode: lighten; background-size: cover;">
    <div class="p-4">
        <h1 class="text-center display-4" style="color: #eab676;"><b>Welcome to Petbook: Where Pets Unite! </b> 🐕</h1>
        <br />
        <br />
        <div class="px-5">
            <div class="px-5 pb-2 text-justify">
                <p>🔹 Calling all pet owners and animal enthusiasts! Get ready to embark on a paw-some journey with Petbook, the premier social media platform designed exclusively for pets and their devoted humans.</p>
                <br />
                <p>🔹 Petbook is the ultimate destination where you can connect, share, and celebrate the incredible bond we share with our furry companions. Discover a vibrant community of like-minded individuals who understand the joy, laughter, and unconditional love that comes with being a pet parent.</p>
                <br />
                <p>🔹 Share adorable pictures 📸, heartwarming stories 📚, and helpful tips 🐾 with fellow pet enthusiasts. From mischievous cats 😼 to playful pups 🐶, feathered friends 🐦 to scaly sidekicks 🦎, Petbook is the perfect place to showcase the cutest and quirkiest moments of your beloved pets.</p>
                <br />
                <p>🔹 But Petbook is more than just a platform for sharing cute pet photos. We're committed to making a difference in the lives of animals. Together, let's support animal welfare initiatives 🐾 and create a brighter future for our furry friends.</p>
                <br />
                <p>🔹 Join Petbook today and let the pet-loving adventure begin! ✨ Unite with a community that understands your pet obsession and shares your passion. Start connecting with fellow pet lovers, finding inspiration 💡, and creating everlasting memories. Petbook: Where Pets Unite! 🐾</p>
            </div>
        </div>
    </div>
</div>
