<style>
    .btn-secondary {
        border-color: #0d6efd;
        background-color: white;
        color: #0d6efd;
        line-height: 1;
        width: 60px;
        float: right;
    }

    .btn-danger1{

    }
</style>

@model Petbook.Models.BlogPost

<div class="container mt-3">
    @Html.Partial("BlogPostInfo", Model)
    <br />
    @Html.Partial("BlogPostTags", Model)
    <br />

    @if (Model.UserId == ViewBag.CurrentUser)
    {
        <form method="post" action="/BlogPosts/Delete/@Model.BlogPostId">

            <button class="btn btn-danger" style="float:right;" type="submit">Delete blogpost</button>

        </form>
    }
</div>

