@{  
    ViewData["Title"] = "Petbook";
}


<div >
    <div style="width:600px; margin:auto; text-align:center; width: calc(30vw - 2px);">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Posts/Index">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BlogPosts/Index">Blog posts</a>
            </li>
        </ul>
    </div>
    <br />
    <br />

    @foreach (Petbook.Models.Post post in ViewBag.Posts)
    {
        <div class="card" id="postcard-@post.PostId" style="width: 30vw; margin:auto; text-align:center">
            @Html.Partial("PostInfo", post )
        
        </div>
        <br />
    }
</div>