<style>
    .blog-card {
        left: 25%;
        width: 50%;
    }
</style>
<div>
    @if (ViewBag != null)
    {
        <h3>Followers:</h3>

        @foreach (var user in ViewBag.Followers)
        {
            <div class="card1 blog-card card">
                <div class="card-body">
                    <div style="float:left; max-width:50px"><img src="@user.ProfilePhoto" class="rounded-circle px-2 py-2 align-content-start" style="width:90%; margin-right:10px" /></div>
                    <div style="float:left; font-size:14px; min-width:80%; height: 45px" class="mt-2">
                        @user.UserName
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        }
    }

</div>
